Repository googleapis/java-translate, pull requests merged in 2021-09, with the labels that each got.

#775 fix: extend timeout on batch translation requests
  README.md
  samples/snippets/src/main/java/com/example/translate/BatchTranslateText.java
  samples/snippets/src/main/java/com/example/translate/BatchTranslateTextWithGlossary.java
  samples/snippets/src/main/java/com/example/translate/BatchTranslateTextWithGlossaryAndModel.java
  samples/snippets/src/main/java/com/example/translate/BatchTranslateTextWithModel.java
Labels: cla: yes, api: translate

#785 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: cla: yes, kokoro:force-run, automerge, api: translate

#799 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: cla: yes, automerge, api: translate
